version: "3.8"

services:
  db:
    image: postgres:14-alpine
    container_name: library_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: library_db_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d library_db_dev"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    build: .
    container_name: library_app
    restart: on-failure
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/library_db_dev"
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
