body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}
.btn-lg-custom {
  padding: 20px 40px;
  font-size: 1.5rem;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}
.navbar-brand {
  font-weight: bold;
}
.full-height {
  height: 100vh;
}
